body {
	margin:0px;
}
div.wrapper{
	width:960px;
	margin:0 auto;
}
header div.new h1{
	font: 40px Arial;
	margin-bottom: 0px;
	color: #000000;
}

header div.new h2{
	margin-top: 0px;
	font: 20px Arial;
	color: #000000;
}

header div.new2 p a{
	font: 16px Arial;
	text-indent: left;
	margin-bottom: 20px;
	padding:0px 15px;
}

div.new, div.new2{
	width:480px;
}

div.new{
	float:left;
}
div.new2{
	float:right;
	text-align:right;
	padding-top:56px;
}
div.new2 a{
	border-right:#000 solid 1px;
}
div.new2 a:last-child{
	border-right:none;
}

div.clear{
	clear:both;
}

div.img {
	height:350px;
	background-color:#000000;
	text-align:center;
}

div.imgWork {
	height:510px;
	background-color:#cccccc;
	text-align:center;
}

div.img img{
	margin-right: 10px;
	margin-left: 10px;
	margin-top: 20px;
}

footer div.new3 h3{	
	font: 20px Arial;
	text-indent: left;
	color: #000000;
	margin-top: 20px;
	margin-bottom: 5px;
}

footer div.new3 p.new4{	
	font: 15px Arial;
	color: #000000;
	float:right;
	text-align:right;
	margin-top: 5px;
	margin-bottom: 0px;
}

footer div.new3 p{	
	font: 14px Arial;
	color: #000000;
	margin-top: 15px;
	text-align:left;
	margin-left: auto;
}

ul.picture{
	list-style:none;
	padding-left:0px;
}
ul.picture li{
	display:inline-block;
	position: relative;
}
ul.picture li div.yallow{
	width:172px;
	position: absolute;
	z-index:2;
	bottom:20px;
	margin-left:10px;
	padding:10px 0px;
	background-color:#FAD500;
}
