div.wrapper{
	width:960px;
	margin:0 auto;
	margin-top: 10px;
}

div.img1{
	float:left;
	width:175px;
	margin-left: 10px;
	margin-top: 30px;
}

img.imgA{
	margin-top: 8px;
	margin-bottom: 8px;
}

div.img2{
	float:left;
	width:175px;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 30px;
}

div.img3{
	float:left;
	width:375px;
	margin-right: 5px;
	margin-top: 30px;
}

div.img4{
	float:left;
	width:175px;
	margin-top: 7px;
	margin-right: 5px;
}

img.imgB{
	margin-top: 14px;
}

div.img5{
	float:right;
	width:185px;
	margin-top: 7px;
	margin-left: 5px;
}

img.imgC{
	margin-top: 16px;
}

div.img3_top{
	margin-bottom: 5px;
}